*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100vh;
    width: 100vw;
    background:linear-gradient(#086530,#307f52,#055f2c);
    display: flex;
    flex-direction:column;
}

header{
    height: 100px;
    display: flex;
    align-items: center;
    gap: 24px;
    color: #FFFFFF;
    padding-left: 75px;
    padding:50px;
}

main{
    flex-grow: 1;
    display:flex;
    justify-content:center;
    align-items:center;

}

.garrafa{
    position: absolute;
    height: 60%;
    left: 60%;
    top: 40%

}
.escrita{
    position: absolute;
    height: 60%;
    width: 60%;
}

.mapa{
    position:absolute;
    left: 90%;
    top: 95%;
    
}
.mensagem{
    position: absolute;
    color: white;
    font-size:3rem;
    top: 10%

}

@media (max-width: 768px){
    .garrafa{
        position: absolute;
        height: 40%;
        left: 60%;
        top: 40%
    }
    .escrita{
        position: absolute;
        height: 40%;
        width: 40%;
    }
    .mapa{
        position:absolute;
        left: 90%;
        top: 95%;
        
    }
    .mensagem{
        position: absolute;
        color: white;
        font-size:2rem;
        top: 10%
    
    }
}